<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codeko\Redsys\Model\Redsys" type="Pss\Redsys\Model\Redsys" />
    <preference for="Codeko\Redsys\Helper\Validator" type="Pss\Redsys\Helper\Validator" />

</config>