<?xml version="1.0"?>
<!--
/**
 * @author Israel
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="pss_redsys_checkout_controller_success_action" instance="Pss\Redsys\Observer\AfterPlaceOrder"  />
    </event>
</config>


