<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alfa9_price" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Price settings</label>
            <tab>alfa9</tab>
            <resource>Alfa9_Base::Config</resource>
            <group id="price_decimals" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show 3 instead 2 decimals in the admin order area.</comment>
                </field>
            </group>
        </section>
    </system>
</config>