<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Xlanding
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Indexer\Category\Product">
        <plugin name="Amasty_Xlanding::categoryProductExtendedIndex"
                type="Amasty\Xlanding\Plugin\Catalog\Model\Indexer\Category\Product" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Category">
        <plugin name="Amasty_Xlanding::productCategoryExtendedIndex"
            type="Amasty\Xlanding\Plugin\Catalog\Model\Indexer\Product\Category"/>
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Category\Tree">
        <plugin name="Amasty_Xlanding::productCategoryExtendedTree"
                type="Amasty\Xlanding\Plugin\Catalog\Block\Adminhtml\Category\Tree"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="Amasty_Xlanding::fixAttributeConditions"
                type="Amasty\Xlanding\Plugin\Catalog\Model\ResourceModel\Eav\Attribute"/>
    </type>
</config>
