<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csv_processor>
            <general>
                <delimiter>,</delimiter>
                <enclosure>"</enclosure>
                <output_dir>var/upload/perf.csv</output_dir>
                <conf_sufix> conf</conf_sufix>
            </general>
        </csv_processor>
    </default>
</config>
