<div class="full-container">
    <div class="full-container">
        <div class="container">
            <div class="left-container">
                <h2>LEFT IMAGE</h2>
            </div>
            <div class="main-container">
                <div class="top slider">{{widget type="WeltPixel\OwlCarouselSlider\Block\Slider\Custom" slider_id="11"}}</div>
                <div class="center promo-text">
                    <p>MEGA PROMO -10€ | -20€ | -30€ <a href="#">Más Información</a></p>
                </div>
                <div class="row bottom tiles">
                    <div class="col-sm-6">
                        <img src="{{media url="wysiwyg/Home/Descu_brelo_1.png"}}"/>
                    </div>
                    <div class="col-sm-6">
                        <img src="{{media url="wysiwyg/Home/Descu_brelo_2.png"}}"/>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <h2>RIGHT IMAGE</h2>
            </div>
        </div>
    </div>

    <div class="full-container recomendation">
        <div class="container">
            <div class="row">
                <h2>Nuestras Recomendaciones</h2>
                {{widget type="WeltPixel\OwlCarouselSlider\Block\Slider\Category" category="category/547"}}</div>
        </div>
    </div>
</div>