<div class="container">
    <div class="row blog">
        <h2>Nuestro Blog</h2>
        <div class="col-lg-6">
            <img src="{{media url="wysiwyg/Home/Blog/IMG1.png"}}"/>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <img src="{{media url="wysiwyg/Home/Blog/IMG2.png"}}" />
            </div>
            <div class="row">
                <img src="{{media url="wysiwyg/Home/Blog/IMG3.png"}}"/>
            </div>
        </div>
    </div>
    <div class="row instagram">
        <h2>Instagram</h2>
    </div>
</div>