<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="wishlist_add_product">
        <observer name="wishlist_simple_wishlist_add_product" instance="PSS\WishlistSimple\Model\Observer\WishlistAddProduct" />
    </event>
</config>