<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * module.xml
 *
 * @copyright Copyright © 2019 Alfa9 Servicios Web, S.L.. All rights reserved.
 * @author    xsanz@alfa9.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PSS_GalleryFix" setup_version="0.0.1" >
    </module>
</config>