<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<reserveandcollect>
				<active>0</active>
				<model>Alfa9\ReserveAndCollect\Model\Payment\Reserveandcollect</model>
				<order_status>pending</order_status>
				<title>Reserve And Collect</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</reserveandcollect>
		</payment>
	</default>
</config>
