<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="addMyButton" type="Alfa9\Sales\Plugin\Block\Adminhtml\Order\View"/>
    </type>
</config>
