<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '<REPLACE>' );

/** MySQL database username */
define( 'DB_USER', '<REPLACE>' );

/** MySQL database password */
define( 'DB_PASSWORD', '<REPLACE>' );

/** MySQL hostname */
define( 'DB_HOST', '<REPLACE>' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'S0n.J:-F[OZ&Yw=O`dK|9B*!BJC51pxVGM+,8cOC(!jIc}Z?eDz{08yc!{RzHJ[2' );
define( 'SECURE_AUTH_KEY',  '-+-9/x8rtVlAs9!oYf2OKJ5<c9`(+7SJ9NMF^(a/+S_l`FB$hL$(G)RM?&W)Ppq{' );
define( 'LOGGED_IN_KEY',    ' W!{2xD,rgXp/V&Bn8hYNrz/jF=9h(U=V_b~YJ6=Llp9HlyNap8#1z7J@N>z0!Uk' );
define( 'NONCE_KEY',        'OhL0N6#1!SFbH^!;Ez)(#KoWCeAM2NlXT$/z1i:/wjAkolC));EIlty`D$(n.PZI' );
define( 'AUTH_SALT',        'I(4*x1d^wb7LuWa%l+nI@]^/(t3D%+{ L+|k;M`^v.W$!nD(Gj]9ip=%@ai/k0T6' );
define( 'SECURE_AUTH_SALT', ';9nKJ0P*tih8`Q}o#DQMoSI$YX7g,-KmQlzMRZ.F~C}QTsXSn%C@~5|dD$&iiyT[' );
define( 'LOGGED_IN_SALT',   'Pw4=/=:T.c_1HMz{C5cHpO9~vstEb6mM>hNn=RlSus8sGnwohaImtG?.[Ov/%!iJ' );
define( 'NONCE_SALT',       '(emy3@9osyfBil>0<tBT1wl&b2F;s[6Kbd/o^9*~da`BKGKhlO/|2I:?]]=^zZ/.' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = '12wpd_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );
