<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="alfa9" translate="label" sortOrder="10" class="alfa9-tab">
            <label><![CDATA[ALFA9 EXTENSIONS]]></label>
        </tab>
    </system>
</config>