<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Model\PriceCurrency" type="Alfa9\Price\Model\PriceCurrency" />
    <preference for="Magento\Directory\Model\Currency" type="Alfa9\Price\Model\Currency" />
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="mp_brand_product_brand_name" disabled="true" />
    </type>
</config>