<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di
 *
 * @copyright Copyright © 2019 Alfa9 Servicios Web, S.L.. All rights reserved.
 * @author    xsanz@alfa9.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Magento\Customer\Model\AccountManagement" type="PSS\Magento227\Customer\Model\AccountManagement" />
</config>