<?xml version="1.0"?>
<!--
/**
 * @author Israel Yasis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\Quote\Address\Total\Subtotal" type="Alfa9\GiftProduct\Model\Quote\Address\Total\Subtotal" />
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="alfa9_gift_product_to_order_item" type="Alfa9\GiftProduct\Plugin\Model\Quote\QuoteItemToOrderItem"/>
    </type>
</config>