<?xml version="1.0"?>
<!--
 /**
  * @author Israel Yasis
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="pss_catalog_inventory_modify" type="PSS\CatalogInventory\Plugin\Model\Stock\Item" sortOrder="10" disabled="false"  />
    </type>
</config>